
:root{
    --blue--:blueviolet;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sec1{
    background-color: var(--blue--);
}
.banner-container{
    color: white;
    margin-top: 110px;
}
.banner-container h1{
   font-size: 50px;
   font-weight: 800;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.banner-container h2{
    font-size: 45px;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.sec2 .inbox{
    background: rgb(231, 230, 230);
    transition: all 0.5s;
}
.sec2 .inbox:hover{
    border-radius: 10px;
    transform: scale(1.05);
}

.sec2{
  background-color:rgb(255, 255, 255);
  text-align: center;
  font-family:'Gill Sans MT' ;
  padding: 20px;
}
.cl{
    margin-bottom: 15px;
}
.sec3{
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    font-family:'Gill Sans MT' ;
}
.sec3 .inbox{
    background-color: rgb(231, 230, 230);
    transition: all 0.5s;
}
.sec3 .inbox:hover{
    border-radius: 10px;
    transform: scale(1.05);
}
.sec3 .inbox img{
    height: 170px;
}
.sec4{
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-family:'Gill Sans MT' ;
    padding: 20px;
}
.sec4 .inbox{
    background-color: rgb(231, 230, 230);
    transition: all 0.5s;
}
.sec4 .inbox img{
    height: 170px;
}
.sec4 .inbox:hover{
    border-radius: 10px;
    transform: scale(1.05);
}
.bi-cart-fill{
    color:white;
    font-size: 25px;
}   